
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

#main {
  background-color: #eee;
  padding: 0 0 15px 0;
  margin: 0 0 20px 0;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}


#title h1{
  font-family: 'Noto Sans', sans-serif;
  color: #333;
  font-size: 5vw;
  max-width: 10   0%;
}
#title p {
  font-size: 2.2vw;
  padding-left: 20vw;
  color: lightslategray;
  font-weight: 700;
}
#title p span {
  padding-left: 14vw;
}


#img-div {
  margin: 5vw 0 3vw 0;
  padding-bottom: 4vw;
  background-color: #fcfef6;
  max-width: 96%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}
#image {
  align-self: center;
  max-width: 50%;
  height: auto;
}
#img-caption {
  font-family: 'Noto Sans', sans-serif;
  display: flex;
  flex-direction: column;
  font-size: 1.7vw;
  padding: 0 2.5vw 0 2.7vw;
}
#verse-caption {
  display: flex;
  margin-left: 6vw;
  max-width: 100%;
}
#verse-caption p {
  padding: 1vw 4vw 0 0;
  font-size: 2.7vw;
  font-weight: 600;
}

#tribute-info {
  text-align: center;
  font-weight: 800;
  font-size: 1.4vw;
  color: lightslategray;
}
#tribute-info a {
  text-decoration: none;
}

#button a{
  font-size: 4vw;
  color: black;
  background-color: transparent;
  text-decoration: none;
  position: fixed;
  right: 0.3vw;
  top: 45vw;
}

@media only screen and (min-width: 992px) {
  #title h1{
    font-family: 'Noto Sans', sans-serif;
    color: #333;
    font-size: 2.8vw;
  }
  #title p {
    font-size: 1.6vw;
    padding-left: 11vw;
  }
  #title p span {
    padding-left: 10vw;
  }
  
  
  #img-div {
    margin: 5vw 0 3vw 0;
    padding-bottom: 4vw;
    background-color: #fcfef6;
    max-width: 96%;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
  }
  #image {
    width: 100%;
    max-width: 100%;
    height: auto;
  }
  #img-caption {
    font-family: 'Noto Sans', sans-serif;
    display: flex;
    flex-direction: column;
    font-size: 1.5vw;
  }
  #verse-caption {
    display: flex;
    width: 100%;
    margin: 2vw 0 3vw 2vw;
  }
  #verse-caption p {
    padding: 1vw 1.5vw 0 0;
    font-size: 2vw;
    font-weight: 600;
  }
  
  #tribute-info {
    text-align: center;
    margin-top: 2.4vh;
    font-weight: 800;
    font-size: 1.8vw;
    width: 60vw;
    color: lightslategray;
  }
  #tribute-info a {
    text-decoration: none;
  }  

  #button {
    display: none;
  }
}